* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  width: 80%;
  margin: auto;
  min-width: calc(100vh - 64px);
}

header {
  text-align: center;
  padding: 1rem;
  background-color: rgb(182, 177, 171);

  .container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

main {
  background-color: rgb(235, 158, 103);

  h3 {
    padding: 1rem 0rem;
  }

  p {
    padding: 1rem 0rem;
  }

  img {
    max-width: 100%;
  }

}

footer {
  background-color: rgb(218, 149, 215);
  padding: 1rem;
  text-align: center;
}